<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tommyspc.books">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SellerEnterBookInfo" />
        <activity android:name=".SellCostInfo" />
        <activity android:name=".RentCostInfo" />
        <activity android:name=".BookPicture" />
        <activity android:name=".ConfirmationPage" />
        <activity android:name=".MyBooksList"></activity>
    </application>

</manifest>